@charset "UTF-8";

/*
	Author: 	David McCracken
	Assignment:	Project V4
	Created:	02/28/19
	
	Filename: layout.css
*/


/*HTML and BODY*/
body {
	display: -ms-grid;
	-ms-grid-rows: 10% 10% 70% 10%;
	-ms-grid-columns: 15% 70% 15%;
	display: grid;
	grid-template-rows: 10% 10% 70% 10%;
	grid-template-columns: 15% 70% 15%;
	margin: 0% 10%;
}

body > header h1#webname {
	padding-top: 4%;
	padding-bottom: 4%;
}

/*HEADER and FOOTER*/
header {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-row: 1/1;
	grid-column: 1/4;
}

footer {
	-ms-grid-row: 4;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-row: 4/4;
	grid-column: 1/4;
	padding: 2em 0em;
}

/*ARTICLE and BLOCKQUOTE*/
article {
	-ms-grid-row: 3;
	-ms-grid-column: 2;
	grid-row: 3/3;
	grid-column: 2/2;
	padding: 0em 2em;
}

blockquote {
	margin: 0em;
	padding: 2em;
}

/*
	If I made an HTML map of air-central WWII theatres/campaigns,
	I could use relative positioning to far greater effect. 
*/
blockquote#DDE_quote {
	padding: 2%;
	padding-left: 17%;
	position: relative;
	left: 20%;
}

/*DIV and FORM*/
div#right_side {
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
	-ms-grid-column: 3;
	grid-row: 3/5;
	grid-column: 3/3;
	padding: 5% 7%;
}

div#plane_list p {
	padding: 0.5em;
}

div#plane_list h3 {
	padding: 0.5em;
}

div.airplane_div {
	clear: both;
}

div.airplane_div > cite {
	padding-left: 0.5em;
}

div.airplane_div img {
	width: 100%;
}

form {
	margin-top: 1%;
	padding: 2%;
}

fieldset {
	display: flex;
	flex-flow: column nowrap;
}

textarea {
	max-width: 100%;
}

fieldset#bottomSet {
	text-align: center;
}

/*FIGURE and ASIDE*/
figure.airplane_inf {
	float: right;
	max-width: 40%;
	margin-left: 2%;
	padding: 2%;
}

figure#photo {
	display: none;
	position: absolute;
	padding: 1%;
	top: 1300px;
	left: 77%;
	-ms-transform: rotate(348deg);
	-moz-transform: rotate(348deg);
	-webkit-transform: rotate(348deg);
	-o-transform: rotate(348deg);
	transform: rotate(348deg);
	width: 18%;
	min-width: 196px;
	transition: top 1s, left 1s, transform 1s, width 1s, box-shadow 1s;
}

/*M8LO10 Demonstrate a CSS animation or transition (CSS, identify which is being done and its impact on the rendered HTML)
	The style below is the end state of the transition applied to the photo figure in index.html.
	The transition rotates the figure slightly to the right,
	moves it down and to the left, increases its size,
	and changes the box-shadow. 
	All this creates the illusion of the paper being brought closer to the viewer.
*/
figure#photo:hover {
	box-shadow: rgba(0, 0, 0, 0.4) 25px 25px 10px 10px;
	top: 1350px;
	left: 67%;
	transform: rotate(358deg);
	width: 25%;
}

figure#photo img {
	width: 100%;
}

figure#about_photo {
	display: none;
	position: absolute;
	padding: 1%;
	top: 360px;
	left: 75%;
	-ms-transform: rotate(352deg);
	-moz-transform: rotate(352deg);
	-webkit-transform: rotate(352deg);
	-o-transform: rotate(352deg);
	transform: rotate(352deg);
	width: 21%;
	min-width: 196px;
}

figure#about_photo img {
	width: 100%;
}

figure#dde_photo {
	display: none;
	padding: 1%;
	position: fixed;
	top: 50%;
	left: 0%;
	width: 10%;
	min-width: 160px;
	-ms-transform: rotate(17deg);
	-moz-transform: rotate(17deg);
	-webkit-transform: rotate(17deg);
	-o-transform: rotate(17deg);
	transform: rotate(17deg);
}

figure#dde_photo img {
	width: 100%;
}

/*NAV and LIST*/
nav {
	padding: 0.1em 0em;
}

li {
	padding: 1% 0px;
}

nav#internal {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-row: 2/2;
	grid-column: 1/4;
	padding: 0;
}

nav#internal li {
	display: block;
	float: left;
	width: 23%;
	margin-right: 2%;
}

nav#source {
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
	-ms-grid-column: 1;
	grid-row: 3/5;
	grid-column: 1/1;
	padding: 5% 7%;
}

#new_features ul {
	padding-left: 0;
	padding-bottom: 2em;
}

#new_features li {
	padding: 0.1em;
	padding-left: 1em;
}

/*P and H*/
body > article > p {
	padding: 1em 0;
}

/*TABLE*/
table caption {
	padding: 1%;
}

/*IFRAME*/
iframe#oppenheimer {
	width: 100%;
	height: 450px;
}
