@charset "UTF-8";

/*
	Author: 	David McCracken
	Assignment:	Project V4
	Created:	02/28/19
	
	Filename: media.css
*/


/*MEDIA QUERIES*/
@media screen and (min-width: 1200px) {
	figure#dde_photo, figure#photo, figure#about_photo  {
		display: block;
	}
}

@media screen and (max-width: 1199px) {
	body {
		margin: 0;
	}
}

@media screen and (max-width: 864px) {
	body {
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
		display: flex;
		flex-flow: column nowrap;
	}
	
	nav#internal ul {
		display: none;
		position: relative;
		width: 100%;
	}
	
	nav#internal li, nav#internal li#current_page {
		box-shadow: none;
		font-size: 1.5em;
		width: 100%;
		margin: 0;
	}
	
	nav#internal a#navButton {
		background-color: rgb(201, 190, 156);
		background-color: hsl(45, 29%, 70%);
		display: block;
	}
	
	nav#internal a#navButton:hover + ul, a#navButton + ul:hover {
		display: block;
	}
	
	nav#source {
		display: block;
		order: 99;
		padding: 10%;
	}
	
	article {
		padding: 0 2% 1%;
	}
	
	article#plane_list {
		height: auto;
		overflow: visible;
	}
	
	div#right_side {
		display: none;
	}
	
	figure.airplane_inf {
		padding: 2%;
		float: none;
		max-width: 100%;
		margin: 0;
	}
	
	thead, tfoot, th, .emptyCell {
		display: none;
	}
	
	tbody td {
		display: block;
		border: none;
	}
	
	tbody td::after {
		content: attr(data-years);
		position: absolute;
		left: 60%;
	}
	
	input#submitButton {
		width: 100%;
	}

	
	blockquote#DDE_quote {
		position: static;
	}
	
	header {
		border-radius: 0;
	}
	
	footer {
		order: 100;
		border-radius: 0;
	}
}
